*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Configuration files with sensitive data
**/config.properties
!**/config.properties.template
!**/config.properties.ci

# Firebase configuration files
/app/google-services.json
!**/google-services.json.template